[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/dockerfile"]
	path = bundle/dockerfile
	url = https://github.com/ekalinin/dockerfile.vim
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "bundle/cd"]
	path = bundle/cd
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
